<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.botbuddies.mapper.StoreMapper">


<select  id= "storelist" resultType="com.smhrd.botbuddies.entity.Store">
SELECT s.store_seq, s.store_name, i.img_filename, s.user_id
FROM STORES s
JOIN STORE_IMG i ON s.store_seq = i.store_seq
WHERE s.user_id = #{id}

</select>

<!-- <select id = "reviewlist" parameterType="int" resultType="com.smhrd.botbuddies.entity.Store">
SELECT 
    STORES.store_seq, 
    STORES.store_name, 
    REVIEWS.user_id,
    USERS.user_nick as reviewUserNick,
    REVIEWS.review_seq, 
    REVIEWS.title, 
    REVIEWS.details, 
    REVIEWS.answer, 
    REVIEWS.state, 
    REVIEWS.score, 
    REVIEWS.create_at, 
    REVIEW_IMG.img_filename
FROM 
    STORES
LEFT OUTER JOIN 
    REVIEWS ON STORES.store_seq = REVIEWS.store_seq
LEFT OUTER JOIN 
    USERS ON REVIEWS.user_id = USERS.user_id
LEFT OUTER JOIN 
    REVIEW_IMG ON REVIEWS.review_seq = REVIEW_IMG.review_seq
WHERE 
    STORES.store_seq = #{store_seq} 

</select> -->

<select id="getStoreSeq" parameterType="String" resultType="int">
select store_seq,store_name from STORES where user_id = #{id}
</select>

<select id = "imgsearch" parameterType="int" resultType="com.smhrd.botbuddies.entity.Store">
select img_filename from REVIEW_IMG where review_seq = #{review_seq};
</select>


<insert id="inquiry" parameterType="String">
INSERT INTO INQUIRIES (user_id, title, details)
VALUES (#{id}, #{title}, #{details})
</insert>

<select id = "reviewlist" parameterType="int" resultType="com.smhrd.botbuddies.entity.Store">
SELECT 
    STORES.store_seq, 
    STORES.store_name, 
    REVIEWS.user_id,
    USERS.user_nick as reviewUserNick,
    REVIEWS.review_seq, 
    REVIEWS.title, 
    REVIEWS.details, 
    REVIEWS.answer, 
    REVIEWS.state, 
    REVIEWS.score, 
    REVIEWS.create_at, 
    (SELECT GROUP_CONCAT(img_filename) 
     FROM REVIEW_IMG 
     WHERE REVIEWS.review_seq = REVIEW_IMG.review_seq) AS reviewImageFilenames
FROM 
    STORES
LEFT OUTER JOIN 
    REVIEWS ON STORES.store_seq = REVIEWS.store_seq
LEFT OUTER JOIN 
    USERS ON REVIEWS.user_id = USERS.user_id
WHERE 
    STORES.store_seq = #{store_seq}
ORDER BY REVIEWS.create_at desc;
</select> 

<delete id="deleteStoreSeq" parameterType="int">
DELETE FROM STORES WHERE store_seq = #{store_seq}
</delete>



<select id="store" parameterType="int" resultType="com.smhrd.botbuddies.entity.Store">
select * from STORES where store_seq = #{store_seq}
</select>

<update id ="deleteans" parameterType="int" >
UPDATE REVIEWS
SET answer = NULL
WHERE review_seq = #{review_seq};
</update>

<update id="insertans" >
UPDATE REVIEWS
SET answer = #{answer}
WHERE review_seq = #{review_seq}
</update>

<update id="updateans" >
UPDATE REVIEWS
SET answer = #{answer}
WHERE review_seq = #{review_seq}
</update>

<select id="searchrv"  resultType="com.smhrd.botbuddies.entity.Store">
SELECT
  REVIEWS.*,
  USERS.user_nick AS reviewUserNick,
  REVIEWS.user_id AS reviewUser_id,
  GROUP_CONCAT(REVIEW_IMG.img_filename SEPARATOR ', ') AS reviewImageFilenames,
  STORES.store_seq
FROM
  REVIEWS
INNER JOIN
  USERS ON REVIEWS.user_id = USERS.user_id
LEFT JOIN
  REVIEW_IMG ON REVIEWS.review_seq = REVIEW_IMG.review_seq
LEFT JOIN
  STORES ON REVIEWS.store_seq = STORES.store_seq
WHERE
  REVIEWS.create_at BETWEEN #{startDate} AND #{endDate}
  AND STORES.store_seq = #{store_seq}
GROUP BY
  REVIEWS.review_seq;
</select> 


</mapper>