<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.botbuddies.mapper.StoreMapper">


<select  id= "storelist" resultType="com.smhrd.botbuddies.entity.Store">
SELECT s.store_seq, s.store_name, i.img_filename, s.user_id
FROM STORES s
JOIN STORE_IMG i ON s.store_seq = i.store_seq
WHERE s.user_id = #{id}
</select>


<select id="getStoreSeq" parameterType="String" resultType="int">
select store_seq,store_name from STORES where user_id = #{id}
</select>

<select id = "imgsearch" parameterType="int" resultType="com.smhrd.botbuddies.entity.Store">
select img_filename from REVIEW_IMG where review_seq = #{review_seq};
</select>


<insert id="inquiry" parameterType="String">
INSERT INTO INQUIRIES (user_id, title, details)
VALUES (#{id}, #{title}, #{details})
</insert>

<select id = "reviewlist" parameterType="int" resultType="com.smhrd.botbuddies.entity.Store">
SELECT 
    STORES.store_seq, 
    STORES.store_name, 
    REVIEWS.user_id,
    USERS.user_nick as reviewUserNick,
    REVIEWS.review_seq, 
    REVIEWS.title, 
    REVIEWS.details, 
    REVIEWS.answer, 
    REVIEWS.state, 
    REVIEWS.score, 
    REVIEWS.create_at, 
    (SELECT GROUP_CONCAT(img_filename) 
     FROM REVIEW_IMG 
     WHERE REVIEWS.review_seq = REVIEW_IMG.review_seq) AS reviewImageFilenames
FROM 
    STORES
LEFT OUTER JOIN 
    REVIEWS ON STORES.store_seq = REVIEWS.store_seq
LEFT OUTER JOIN 
    USERS ON REVIEWS.user_id = USERS.user_id
WHERE 
    STORES.store_seq = #{store_seq}
ORDER BY REVIEWS.create_at desc;
</select> 

<delete id="deleteStoreSeq" parameterType="int">
DELETE FROM STORES WHERE store_seq = #{store_seq}
</delete>



<select id="store1" parameterType="int" resultType="com.smhrd.botbuddies.entity.Store">
SELECT s.store_seq, s.store_name,s.store_desc, i.img_filename
FROM STORES s
JOIN STORE_IMG i ON s.store_seq = i.store_seq
WHERE s.store_seq = #{store_seq}
</select>

<select id="reserveList" resultType="com.smhrd.botbuddies.entity.Reservation">
select * from RESERVATIONS where store_seq = #{store_seq} 
and now() &lt; reserve_date
order by reserve_date, reserve_time
</select>

<select id="orderList" resultType="com.smhrd.botbuddies.entity.Order">
select o.order_num, GROUP_CONCAT(DISTINCT m.menu_name, o.quantity) AS menu_names, u.user_name, date_format(o.order_at, '%H:%i:%s')  as time
from ORDERS o
join MENUS m on o.menu_seq = m.menu_seq 
join USERS u on o.user_id = u.user_id
where o.store_seq=#{store_seq}
and o.state='0'
and date_format(o.order_at, '%Y-%m-%d') &gt;= date_format(now(), '%Y-%m-%d')
group by o.order_num, u.user_name, o.order_at
</select>

<select id="tablingList" resultType="com.smhrd.botbuddies.entity.Tabling">
select tabling_seq, user_id, wait_num, state, people_num
from TABLING
where store_seq=#{store_seq}
and date_format(create_at, '%Y-%m-%d') &gt;= date_format(now(), '%Y-%m-%d')
</select>

<select id="tableList" resultType="com.smhrd.botbuddies.entity.storeTable">
SELECT 
    table_num, 
    MAX(store_seq) AS store_seq, 
    COUNT(*) AS label_count,
    SUM(CASE WHEN table_state = '1' THEN 1 ELSE 0 END) AS state_count
FROM 
    STORE_TABLE
WHERE 
    store_seq = #{store_seq}
GROUP BY 
    table_num
ORDER BY 
    table_num;
</select>

<select id="getTotal" resultType="int">
select COALESCE(sum(pay_amount),0) as total_pay from ORDERS 
where store_seq=#{store_seq}
and date_format(order_at, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
</select>

<update id= "reserveState" parameterType="int">
UPDATE RESERVATIONS
SET state = 1
WHERE reserve_seq = #{reserve_seq};
</update>


<update id= "reserveStatecancel" parameterType="int">
UPDATE RESERVATIONS
SET state = 0
WHERE reserve_seq = #{reserve_seq};
</update>

<update id="ordercheck" parameterType="int">
UPDATE ORDERS
SET state = 1
WHERE order_num = #{order_num};
</update>

<update id="noshow" parameterType="int">
UPDATE TABLING
SET state = 3
WHERE wait_num = #{wait_num};
</update>

<select id="tablecount" resultType="com.smhrd.botbuddies.entity.TableCount">
SELECT store_seq, table_num, COUNT(*) AS label_count
FROM STORE_TABLE
WHERE store_seq = #{store_seq}
GROUP BY table_num;
</select>


<update id="all" parameterType="int">
UPDATE STORE_TABLE 
SET table_state = 0
WHERE store_seq = #{store_seq} AND table_num = #{table_num};
</update>

<update id="minustable" parameterType="int">
UPDATE STORE_TABLE AS main
JOIN (
    SELECT table_seq
    FROM STORE_TABLE
    WHERE store_seq = #{store_seq} AND table_num = #{table_num}
    ORDER BY table_seq DESC
    LIMIT #{tablesu}
) AS sub ON main.table_seq = sub.table_seq
SET main.table_state = 1
WHERE main.store_seq = #{store_seq} AND main.table_num = #{table_num};
</update>

<update id="plustable" parameterType="int">
UPDATE STORE_TABLE AS main
JOIN (
    SELECT table_seq
    FROM STORE_TABLE
    WHERE store_seq = #{store_seq} AND table_num = #{table_num}
    ORDER BY table_seq DESC
    LIMIT #{state}
) AS sub ON main.table_seq = sub.table_seq
SET main.table_state = 1
WHERE main.store_seq = #{store_seq} AND main.table_num = #{table_num};

</update>
<insert id="sendconfirmation">
INSERT INTO NOTIFICATIONS (user_id,type,message,state)
VALUES(#{user_id},1,"예약확정",0)
</insert>


<insert id="sendcancel">
INSERT INTO NOTIFICATIONS (user_id,type,message,state)
VALUES(#{user_id},1,"예약취소",0)
</insert>

<insert id="sendnoshow">
INSERT INTO NOTIFICATIONS (user_id,type,message,state)
VALUES(#{user_id},0,"대기노쇼",0)
</insert>


<insert id="sendcomeon">
INSERT INTO NOTIFICATIONS (user_id,type,message,state)
VALUES(#{user_id},0,"부르기",0)
</insert>

<update id="completeStand" parameterType="int">
UPDATE TABLING
SET state = 1
WHERE wait_num = #{wait_num};
</update>

<insert id="sendstand">
INSERT INTO NOTIFICATIONS (user_id,type,message,state)
VALUES(#{user_id},0,"대기완료",0)
</insert>

<select id="aftersend" resultType="int">
    SELECT EXISTS (
    SELECT 1 FROM NOTIFICATIONS
    WHERE user_id = #{user_id} AND message = '부르기'
    ORDER BY notice_at DESC
    LIMIT 1
) AS result;
</select>

<update id ="deleteans" parameterType="int" >
UPDATE REVIEWS
SET answer = NULL
WHERE review_seq = #{review_seq};
</update>

<update id="insertans" >
UPDATE REVIEWS
SET answer = #{answer}
WHERE review_seq = #{review_seq}
</update>

<update id="updateans" >
UPDATE REVIEWS
SET answer = #{answer}
WHERE review_seq = #{review_seq}
</update>

<select id="searchrv"  resultType="com.smhrd.botbuddies.entity.Store">
SELECT
  REVIEWS.*,
  USERS.user_nick AS reviewUserNick,
  REVIEWS.user_id AS reviewUser_id,
  GROUP_CONCAT(REVIEW_IMG.img_filename SEPARATOR ', ') AS reviewImageFilenames,
  STORES.store_seq
FROM
  REVIEWS
INNER JOIN
  USERS ON REVIEWS.user_id = USERS.user_id
LEFT JOIN
  REVIEW_IMG ON REVIEWS.review_seq = REVIEW_IMG.review_seq
LEFT JOIN
  STORES ON REVIEWS.store_seq = STORES.store_seq
WHERE
  REVIEWS.create_at BETWEEN #{startDate} AND #{endDate}
  AND STORES.store_seq = #{store_seq}
GROUP BY
  REVIEWS.review_seq;
</select> 

<insert id="insertStore" parameterType="com.smhrd.botbuddies.entity.RegisterStore"
        useGeneratedKeys="true" keyProperty="store_seq">
    INSERT INTO STORES 
        (store_name, store_addr, store_phone, category_seq, store_desc, regi_num, open_time, end_time, user_id, tabling_state)
    VALUES
        (#{store_name}, #{store_addr}, #{store_phone}, #{category_seq}, #{store_desc}, #{regiNum}, #{open_time}, #{end_time}, #{user_id}, #{tabling_state});
</insert>

<insert id="insertStoreImage">
    INSERT INTO STORE_IMG (img_filename, store_seq)
    VALUES (#{imgFilename}, #{store_seq})
</insert>

<insert id="insertStoreTable">
    INSERT INTO STORE_TABLE (table_num, store_seq)
    VALUES (#{tableNum}, #{store_seq})
</insert>

<select id="selectStoreDetails" resultType="com.smhrd.botbuddies.entity.Store">
    SELECT 
    s.store_seq, 
    s.store_name, 
    s.store_addr, 
    s.store_phone, 
    s.category_seq, 
    s.store_desc, 
    s.open_time, 
    s.end_time,
    s.regi_num,
    s.tabling_state,
    s.reserva_state,
    s.open_date,
    s.user_id,
    i.img_filename,
    GROUP_CONCAT(t.table_num) AS table_nums 
FROM STORES s
LEFT JOIN STORE_IMG i ON s.store_seq = i.store_seq
LEFT JOIN STORE_TABLE t ON s.store_seq = t.store_seq
WHERE s.store_seq = #{store_seq}
GROUP BY s.store_seq, i.IMG_FILENAME
</select>

<update id="updateStore">
    UPDATE STORES
    SET store_name = #{store_name},
        store_addr = #{store_addr},
        store_phone = #{store_phone},
        category_seq = #{category_seq},
        store_desc = #{store_desc},
        tabling_state = #{tabling_state},
        reserva_state = #{reserva_state},
        open_time = #{open_time},
        end_time = #{end_time}
    WHERE store_seq = #{store_seq}
</update>

<delete id="deleteStoreImagesByStoreSeq" parameterType="int">
    DELETE FROM STORE_IMG
    WHERE store_seq = #{store_seq}
</delete>

<delete id="deleteStoreTablesByStoreSeq" parameterType="int">
    DELETE FROM STORE_TABLE
    WHERE store_seq = #{store_seq}
</delete>

<select id="storename" resultType ="com.smhrd.botbuddies.entity.RegisterStore">
SELECT store_seq, store_name
FROM STORES
WHERE user_id = #{user_id}
</select>

<select id="storemenu" resultType ="com.smhrd.botbuddies.entity.RegisterStore">
SELECT
    menu_img,
    menu_name,
    price,
    menu_desc,
    menu_seq,
    menu_state
FROM
    MENUS
WHERE
    store_seq = #{store_seq}
</select>

<update id="menustate">
UPDATE MENUS
SET menu_state = CASE 
    WHEN menu_state = '0' THEN '1'
    ELSE '0' END
WHERE menu_seq = #{menu_seq}
</update>

<select id="selectmenustate" resultType="java.lang.String">
SELECT menu_state
FROM MENUS
WHERE menu_seq = #{menu_seq}
</select>

<update id="updatemenu">
UPDATE MENUS
SET 
    menu_name = #{menu_name},
    menu_desc = #{menu_desc},
    price = #{price},
    menu_img = #{menu_img}
WHERE
    menu_seq = #{menu_seq};
</update>

<delete id="deletemenu">
DELETE FROM MENUS
WHERE menu_seq = #{menu_seq};
</delete>

<insert id="insertmenu">
INSERT INTO MENUS (store_seq, menu_name, menu_desc, price, menu_img)
VALUES (#{store_seq}, #{menu_name}, #{menu_desc}, #{price}, #{menu_img});
</insert>

</mapper>